<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Group:</strong>
  <%= @review.group_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @review.project_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @review.student_id %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
