<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <% if Group.all.length > 0 %>
    <h3>Groups Assigned</h3>  
    <% Group.all.sort_by(&:name).each do |group| %>
      <%= check_box_tag "project[group_ids][]", group.id, @project.groups.include?(group) %>
      <%= group.name %>
      <br />
    <% end %>
    <br>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
