<p id="notice"><%= notice %></p>

<h1 class="title">Projects</h1>

<% if @projects.length > 0 %>
  <table class="infoTable3">
    <thead>
      <tr>
        <th>Title</th>
        <th>Due Date</th>
        <th colspan="3"> </th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.due.strftime('%d %b %y') %></td>
          <td><button class="infoButton3"><%= link_to 'Details', project %></button></td>
          <td><button class="infoButton3"><%= link_to 'Edit', edit_project_path(project) %></button></td>
          <td><button class="infoButton3"><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<button class="addButton3"><%= link_to 'New Project', new_project_path %></button>
