<p id="notice"><%= notice %></p>

<h2><%= @project.title %></h2>

<% if @groups.length > 0 %>
	<h3>Group(s) Assigned</h3>
	<% @groups.sort_by(&:name).each do |group| %>
	  <div class = "checks">
	    <li><%= group.name %> <br></li>
	  </div>
	<% end %>
	<br>
<% else %>
	<h3>No Groups Are Currently Assigned To this Project</h3>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
