<%= stylesheet_link_tag "application" %>

<h1>Peer Evaluations</h1>

<% user = current_student%>
<% @memberships.each do |membership|%>
  <% if membership.student_id == user.id %>
    <% @groups.each do |group|%>
      <%puts "test #{group.id}" %>
      <% if group.id == membership.group_id%>
        <button type="button" class="collapsible"><%= group.name %></button>
        <div class = "content">
          <% @assignments.each do |assignment|%>
            <% if assignment.group_id == group.id%>
              <% @projects.each do |project|%>
                <% if project.id == assignment.project_id%>
                  <button type="button" class="collapsible"><%= project.title %></button>
                  <div class = "content">
                    <div>Due Date: <%= project.due.to_date.strftime("%D") %></div>
                    <% review =  Review.find_by(project_id: project.id, student_id: user.id) %>
                    <% if review == nil && (project.due.to_date >= Date.today)%>
                        <%= form_for setup_review(@review, user, group) do |f| %>
                          <div>
                              <%= f.fields_for :scores do |ff| %>
                                <% student = Student.find_by(id: ff.object.recipient_id)%>
                                <%= ff.label "#{student.fname} #{student.lname}'s score:"%>
                                <%= ff.text_field :rating %>
                                <%= ff.hidden_field :author_id, value: user.id %>
                                <%= ff.hidden_field :recipient_id, value: student.id %>
                              <% end %>
                          </div>
                          <%= f.label "Comments: " %>
                          <%= f.text_area :comment, size: "150x10" %>
                          <%= f.hidden_field :group_id, value: group.id %>
                          <%= f.hidden_field :project_id, value: project.id %>
                          <%= f.hidden_field :student_id, value: user.id %>
                          <%= f.submit data: { disable_with: false }%>
                        <% end %>
                    <% elsif review != nil%>
                        <% review.scores.each do |score| %>
                        <% student = Student.find_by(id: score.recipient_id)%>
                        <b><%= "#{student.fname} #{student.lname}'s score: " %></b><%= score.rating %> <br>
                      <% end %>
                        Comment: <%= review.comment %>
                    <% else%>
                        <b style="color:red;">Peer Review Overdue</b>
                        <br>
                        <i>No Review Submitted</i>
                      <% end %>
                  </div>
                <%end%>
              <%end%>
            <%end%>
          <%end%>
        </div>
      <%end%>
    <%end%>
  <%end%>
<%end%>

<script>
      let coll = document.getElementsByClassName("collapsible");
      let i;

      for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function () {
              this.classList.toggle("active");
              let content = this.nextElementSibling;
              if (content.className == "content") {
                  if (content.style.display === "block") {
                      content.style.display = "none";
                  } else {
                      content.style.display = "block";
                  }
              }
          });
      }
</script>

