<!DOCTYPE html>
<html>
  <head>
    <title>Peer Evaluation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <table>
      <tr class = "header">
        <%#if current_user.isAdmin %>
        <th><%= link_to "Students", "/students" %></th>
        <th><%= link_to "Groups", "/groups" %></th>
        <th><%= link_to "Projects", "/projects" %></th>
        <th><%= link_to "Scores", "/scores" %></th>
        <%#else%>
        <%#end%>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>


