<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :First %>
    <%= form.text_field :fname %>
  </div>

  <div class="field">
    <%= form.label :Last %>
    <%= form.text_field :lname %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :Admin %>
    <%= form.check_box :isAdmin %>
  </div>

  <% if Group.all.length > 0 %>
    <h3>Group Membership(s)</h3>
    <% Group.all.sort_by(&:name).each do |group| %>
      <%= check_box_tag "student[group_ids][]", group.id, @student.groups.include?(group) %>
      <%= group.name %>
      <br>
    <% end %>
    <br>
  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
