<p id="notice"><%= notice %></p>

<h2><%= @student.fname %> <%= @student.lname %></h2>
<table>
  <tr>
    <th>Email</th>
    <th>Admin</th>
  </tr>
  <tr>
    <td><%= @student.email %></td>
    <td><%= @student.isAdmin %></td>
  </tr>
</table>
<br>

<% if @groups.length > 0 %>
  <h3>Group Memberships</h3>
  <% @groups.sort_by(&:name).each do |group| %>
    <div>
      <%= group.name %> <br>
    </div>
  <% end %>
  <br>
<% else %>
  <h3><%= @student.fname %> <%= @student.lname %> Is Not Currently a Member of Any Groups</h3>
<% end %>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
