<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <% if Student.all.length > 0 %>
    <h3>Group Members</h3>
    <% Student.all.sort_by(&:lname).each do |student| %>
      <%= check_box_tag "group[student_ids][]", student.id, @group.students.include?(student) %>
      <%= student.fname %> <%= student.lname %>
      <br>
    <% end %>
  <% end %>

  <% if Project.all.length > 0 %>
    <h3>Assignments</h3>
    <% Project.all.sort_by(&:title).each do |project| %>
      <%= check_box_tag "group[project_ids][]", project.id, @group.projects.include?(project) %>
      <%= project.title %>
      <br />
    <% end %>
    <br>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
